html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Shop Website
		link(rel="stylesheet", href="css/materialize.css")
	body 
		header 
			nav 
				ul 
					li
						a(href="/") Shop
					li
						a(href="/admin/add-product") Add Product
		main 
			h1 My Products
			if products.length > 0
				each product in products
					p #{product}
				p List of all products...
			else
				p No Products Now. Coming Soon